{% extends 'base.html' %} {% load socialaccount %} 
{% block title %} Logout {% endblock %} 
{% block content %}
<div class="side-margin d-flex flex-col align-center py-1 listing-form-container">
    <h1 class="py-1">Sign Out</h1>
    <p class="pb-1">Are you sure you want to sign out?</p>
    <form method="post" action="/accounts/logout/">
        {% csrf_token %} 
        <button class="btn btn-primary fw-bold" type="submit">
            Sign Out
        </button>
    </form>
</div>
{% endblock %}
