{% extends 'base.html' %} {% load socialaccount %} 

{% block title %} Password Reset {% endblock %} 
{% block content %}
<div class="side-margin d-flex flex-col align-center py-1 listing-form-container">
    <h2>Password Reset</h2>
    {% if user.is_authencticated %}
        <p class="mb-1">
            <strong>Note:</strong> You are already logged in as {{ user.email }}
        </p>
    {% endif %}
    <p class="mt-1">Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.</p>
    <form class="auth-form d-flex justify-center flex-col" method="post" action="/accounts/password/reset/">
        {% csrf_token %}
        <div class="form-group d-flex flex-col py-1">
            <label for="id_email">Email</label>
            <input class="form-input p-1 mt-1" type="email" name="email" autocomplete="email" placeholder="Email address" maxlength="320" required="" id="id_email">
        </div>
        <button class="btn btn-primary fw-bold" type="submit">Reset My Password</button>
    </form>
    <p class="mt-1">Please <a class="standard-link" href="{% url 'marketplace:contact' %}">contact us</a> if you have any trouble resetting your password.</p>
</div>
{% endblock %}