{% extends 'base.html' %} {% load socialaccount %} 
{% block title %} Password Reset From Key {% endblock %} 
{% block content %}
<!-- <div class="side-margin d-flex flex-col align-center py-1 listing-form-container">
    <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
    </form>
</div> -->
<div class="side-margin d-flex flex-col align-center py-1 listing-form-container">
    {% if token_fail %}<p class="text-red">This link is invalid. You will need to request to change your password again.</p> {% endif %}
    <h2>Change Password</h2>
    {{ form.non_field_errors }}
    {% if messages %}
        <div class="side-margin">
        {% for message in messages %}
            <div class="notification notification-{{ message.tags }} p-2 my-1">
                <div class="d-flex justify-between">
                    <h1 class="text-white">{{ message.tags|capfirst }}</h1>
                    <h2 class="cursor-pointer text-white notification-close">X</h2>
                </div>
                <p class="text-white mt-1">{{ message }}</p>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <form class="auth-form d-flex justify-center flex-col" method="post" action="{{ action_url }}">
        {% if form.errors %}
            <div class="alert alert-danger py-1">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% csrf_token %}
        <div class="form-group d-flex flex-col py-1">
            <label for="id_password1">New Password</label>
            <input class="form-input p-1 mt-1" type="password" name="password1" placeholder="New Password" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1">
        </div>
        <span class="helptext" id="id_password1_helptext"></span></p><ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul>
        <div class="form-group d-flex flex-col py-1">
            <label for="id_password2">New Password (again)</label>
            <input class="form-input p-1 mt-1" type="password" name="password2" placeholder="New Password (again)" required="" id="id_password2">
        </div>
        <button class="btn btn-primary fw-bold" name="action" type="submit">Change Password</button>
    </form>
</div>
{% endblock %}