{% extends 'base.html' %} 
{% load socialaccount %} 
{% load static %}
{% block title %} Sign Up - Create an Account {% endblock %} 
{% block content %}

    <div class="side-margin d-flex flex-col align-center py-1 listing-form-container">
        <h2>Sign Up</h2>
        <form class="auth-form d-flex justify-center flex-col" method="post" action="{% url 'account_signup' %}">
        {% if form.errors %}
            <div class="alert alert-danger py-1">
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li><strong>{{ field.label }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
            {% csrf_token %} 
        <div class="form-group d-flex flex-col py-1">
            <label for="id_email">Email</label>
            <input class="form-input p-1 mt-1" type="email" name="email" autocomplete="email" placeholder="Email address" maxlength="320" id="id_email">
            {% if form.email.errors %}
                <div class="error-messages ml-1 mt-half text-red">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group d-flex flex-col py-1">
            <label for="id_password1">Password</label>
            <input class="form-input p-1 mt-1" type="password" name="password1" placeholder="Password" autocomplete="new-password"  aria-describedby="id_password1_helptext" id="id_password1">
            <div class="ml-1 mt-1">
                <span class="helptext" id="id_password1_helptext"></span></p><ul><li>Your password can't be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can't be a commonly used password.</li><li>Your password can't be entirely numeric.</li></ul>
            </div>
        </div>
        <div class="form-group d-flex flex-col py-1">
            <label for="id_password2">Password (again)</label>
            <input class="form-input p-1 mt-1" type="password" name="password2" placeholder="Password (again)" autocomplete="new-password"  id="id_password2">
        </div>
            <button class="btn btn-primary fw-bold" type="submit">Create account</button>
        </form>
        <div class="py-1 mt-1 ">
            <h3>Don't want to create an account?</h3>
            <div class="d-flex align-center py-1 mt-1">
                <img height="50" src="{% static 'images/google_logo.webp' %}" alt="google logo">
                <a class="pl-1 standard-link" href="{% provider_login_url 'google' %}">Sign in with Google</a>
            </div>
        </div>
    </div>
{% endblock %}

<!-- {{ form.as_p }} -->