{% extends 'marketplace/account_base.html' %} {% load socialaccount %} 
{% load static %}
{% load cloudinary %}

{% block title %} Account Listings {% endblock %} 
{% block account_content %}
<div class="my-1 listings-grid">
    {% for listing in page_obj %}
            <div class="listing-card">
                <div class="listing-image-container">
                    {% if listing.images.all|length > 0 %}
                        <!-- <img src="{{ listing.images.all.0.image.url }}" alt="listing image"> -->
                        {% cloudinary listing.images.all.0.image.url width=300 height=300 crop="thumb" gravity="auto" quality="auto" fetch_format="auto" %}
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" alt="listing-iamge">
                    {% endif %}
                        <!-- <img src="{{ listing.image.url }}" alt=""> -->
                </div>
                <div class="d-flex justify-between pt-1">
                    <h2>{{ listing.title }}</h2>
                    <div class="price">
                        <h3 class="text-green">${{ listing.price|floatformat:2 }}</h3>
                    </div>  
                </div>
                <div class="d-flex justify-between">
                    <p class="pt-1 text-light">{{ listing.city }}, FL</p>
                    <p class="pt-1 text-light">{{ listing.date_posted|date:"M d, Y" }}</p>
                </div>
                <div class="d-flex justify-between mt-2">
                    <a href="{% url 'marketplace:edit_listing' listing.id %}">
                        <button class="btn btn-primary fw-bold">Edit Listing</button>
                    </a>
                    <a href="{% url 'marketplace:replies_list' listing.id %}">
                        <button class="btn btn-green fw-bold">View Replies</button>
                    </a>
                </div>
            </div>
    {% empty %}
        <p>No listings found.</p>
    {% endfor %}
</div>
{% if page_obj.paginator.count > 0 %}
    <div class="pagination py-1 mb-1">
        {% if page_obj.has_previous %}
            <a class="mr-1" href="{% querystring page=page_obj.previous_page_number %}">&laquo;</a>
        {% endif %}

        {% for page_number in page_obj.paginator.get_elided_page_range %}
            {% if page_number == page_obj.paginator.ELLIPSIS %}
                {{page_number}}
            {% else %}
                <a
                    href="{% querystring page=page_number %}"
                    class="page {% if page_number == page_obj.number %}page-current{% endif %}"
                >
                    {{page_number}}
                </a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="{% querystring page=page_obj.next_page_number %}">&raquo;</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}